In [53]:
import numpy as np
import pandas as pd

In [54]:
df = pd.read_csv('NikolaJokicGameEntireCareer.csv')

In [77]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
import matplotlib.pyplot as plt
from IPython.display import display

filepath = 'C:\\Users\\Lazaro B\\Documents\\GitHub\\NBAProject\\data\\NikolaJokic\\NikolaJokicGameEntireCareer.csv'
data = pd.read_csv(filepath, index_col=False)
data['GAME_DATE'] = pd.to_datetime(data['GAME_DATE'])

data['HOME'] = data['MATCHUP'].apply(lambda x: 1 if 'vs.' in x else 0)
data['OPPONENT'] = data['MATCHUP'].apply(lambda x: x.split()[-1])
display(data)

C:\Users\Lazaro B\AppData\Local\Temp\ipykernel_32148\229309627.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['GAME_DATE'] = pd.to_datetime(data['GAME_DATE'])

,GAME_DATE,PTS,AST,STL,REB,TOV,FGA,FGM,FG3M,FG3A,BLK,FTA,FTM,PLUS_MINUS,HOME
0,2016-04-13,18,5,0,13,2,10,7,1,2,0,3,3,4,0
1,2016-04-10,19,4,2,11,1,9,7,0,2,1,6,5,-16,1
2,2016-04-08,8,4,1,15,0,9,3,0,2,1,2,2,24,1
3,2016-04-05,7,2,0,2,0,5,3,1,3,2,0,0,-9,1
4,2016-04-02,6,5,1,13,0,6,2,0,1,2,2,2,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,2022-10-26,31,9,4,13,3,17,12,0,4,0,7,7,28,1
592,2022-10-24,9,9,0,9,1,4,3,0,0,0,3,3,-10,0
593,2022-10-22,19,13,1,16,3,10,6,1,1,1,9,6,18,1
594,2022-10-21,26,10,0,12,5,13,7,1,2,0,11,11,-3,0
595,2022-10-19,27,6,3,4,3,17,12,1,3,0,2,2,-5,0

In [78]:
data.sort_values(by='GAME_DATE', inplace=True)

In [95]:
features = ['REB','FGA','FGM','FG3M', 'FG3A','FTA', 'FTM', 'PLUS_MINUS']
target = ['PTS']

X_train, X_test, y_train, y_test = train_test_split(
    data[features], data[target], test_size=0.3, random_state=42)

model = RandomForestRegressor(n_estimators=100, random_state=42, max_features=0.5)

model.fit(data[features],data[target])

importances = model.feature_importances_
import numpy as np
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(data[features].shape[1]):
    print("%d. %s (%f)" % (f + 1, features[indices[f]], importances[indices[f]]))

Feature ranking:
1. FGM (0.599713)
2. FGA (0.213323)
3. FTA (0.088933)
4. FTM (0.066598)
5. FG3M (0.011827)
6. FG3A (0.007996)
7. PLUS_MINUS (0.006401)
8. REB (0.005210)

C:\Users\Lazaro B\AppData\Local\Temp\ipykernel_32148\630018061.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(data[features],data[target])

In [121]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

data = pd.read_csv('NikolaJokicGameEntireCareer.csv', index_col=False)
data['GAME_DATE'] = pd.to_datetime(data['GAME_DATE'])
data['HOME'] = data['MATCHUP'].apply(lambda x: 1 if 'vs.' in x else 0)
data['OPPONENT'] = data['MATCHUP'].apply(lambda x: x.split()[-1])
data.drop(['Unnamed: 0','Game_ID', 'MATCHUP'],axis=1, inplace=True)
display(data)

# If 'OPPONENT' is a categorical feature, you should encode it.
le = LabelEncoder()
data['OPPONENT'] = le.transform(data['OPPONENT'])

# Specify your feature columns and your target column
features = ['AST', 'STL', 'REB', 'TOV', 'FG3M', 'FG3A', 'BLK', 'FGA', 'FGM', 'FTA', 'FTM', 'PLUS_MINUS','HOME', 'OPPONENT']
target = 'PTS'

# Split the data
X_train, X_test, y_train, y_test = train_test_split(data[features], data[target], test_size=0.2, random_state=42)

C:\Users\Lazaro B\AppData\Local\Temp\ipykernel_32148\149509881.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['GAME_DATE'] = pd.to_datetime(data['GAME_DATE'])

,GAME_DATE,PTS,AST,STL,REB,TOV,FGA,FGM,FG3M,FG3A,BLK,FTA,FTM,PLUS_MINUS,HOME,OPPONENT
0,2016-04-13,18,5,0,13,2,10,7,1,2,0,3,3,4,0,POR
1,2016-04-10,19,4,2,11,1,9,7,0,2,1,6,5,-16,1,UTA
2,2016-04-08,8,4,1,15,0,9,3,0,2,1,2,2,24,1,SAS
3,2016-04-05,7,2,0,2,0,5,3,1,3,2,0,0,-9,1,OKC
4,2016-04-02,6,5,1,13,0,6,2,0,1,2,2,2,-1,1,SAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,2022-10-26,31,9,4,13,3,17,12,0,4,0,7,7,28,1,LAL
592,2022-10-24,9,9,0,9,1,4,3,0,0,0,3,3,-10,0,POR
593,2022-10-22,19,13,1,16,3,10,6,1,1,1,9,6,18,1,OKC
594,2022-10-21,26,10,0,12,5,13,7,1,2,0,11,11,-3,0,GSW
595,2022-10-19,27,6,3,4,3,17,12,1,3,0,2,2,-5,0,UTA

In [122]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

model = xgb.XGBRegressor(objective='reg:squarederror', learning_rate=0.1, max_depth=2, n_estimators=100,)
scores = cross_val_score(model, data[features], data[target], scoring='neg_root_mean_squared_error', cv=5)

rmse_scores = -scores

print("RMSE scores: ", rmse_scores)
print("RMSE mean: ", rmse_scores.mean())
print("RMSE standard deviation: ", rmse_scores.std())

RMSE scores:  [0.51221366 0.59888485 0.65267796 1.18988237 0.63388194]
RMSE mean:  0.7175081559857743
RMSE standard deviation:  0.2410605773099837

In [142]:
# Sort the data by game date
data.sort_values('GAME_DATE', inplace=True)

# Determine the split point for 80% of the data
split_point = int(len(data) * 0.8)

# Split the data
train = data[:split_point]
test = data[split_point:]

features = ['AST', 'STL', 'REB', 'TOV', 'FG3M', 'FG3A', 'BLK', 'FGA', 'FGM', 'FTA', 'FTM', 'PLUS_MINUS','HOME', ]
target = 'PTS'
le = LabelEncoder()
data['OPPONENT'] = le.fit_transform(data['OPPONENT'])

X_train = train[features]
y_train = train[target]

model = xgb.XGBRegressor(objective ='reg:squarederror', learning_rate = 0.1, max_depth = 2, n_estimators = 100)
model.fit(X_train, y_train,)

X_test = test[features]
y_test = test[target]

predictions = model.predict(X_test)

# Print the RMSE for the predictions
print(np.sqrt(mean_squared_error(y_test, predictions)))

0.749676714912764

In [153]:
game_data = {
    'AST': 10.3,
    'STL': 1.0,
    'REB': 13.4,
    'TOV': 4.0,
    'FG3M': 1.3,
    'FG3A':3.0,
    'BLK': 1.0,
    'FGA': 23.0,
    'FGM': 13.7,
    'FTA': 6.8,
    'FTM': 5.8,
    'PLUS_MINUS': 12.3,
    'HOME': 1,
}

input_data = pd.DataFrame([game_data])

# Apply the same preprocessing steps
display(input_data)

# use the same preprocessing function used earlier
predicted_points = model.predict(input_data)

print(f"Predicted points: {predicted_points[0]}")

prop_line = 26.5

if predicted_points[0] > prop_line:
    print("The model predicts Jokic will score OVER the prop line.")
elif predicted_points[0] < prop_line:
    print("The model predicts Jokic will score UNDER the prop line.")
else:
    print("The model predicts Jokic will score EXACTLY at the prop line.")

,AST,STL,REB,TOV,FG3M,FG3A,BLK,FGA,FGM,FTA,FTM,PLUS_MINUS,HOME
0,10.3,1.0,13.4,4.0,1.3,3.0,1.0,23.0,13.7,6.8,5.8,12.3,1

Predicted points: 35.002716064453125
The model predicts Jokic will score OVER the prop line.